<% include ./partials/header %>
<style>
  #content{
  		color: white;
	text-align: center;
	padding-top: 180px;
	text-shadow: 0px  4px 3px rgba(0,0,0,0.4),
 				 0px 8px 13px rgba(0,0,0,0.1),
 				 0px 18px 23px rgba(0,0,0,0.1);
}
/*body{*/
/*	background: url(https://images.unsplash.com/photo-1516992654410-9309d4587e94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=570bee7146e6d3a98d62d5caef676bce&auto=format&fit=crop&w=1050&q=80);*/
/*	background-size: cover;*/
/*	background-position: center;*/
/*	font-family: 'Lato', sans-serif;*/
/*	color: white;*/

/*}*/
h1{
	font-weight: 700;
	font-size: 5em;
	
}
html{
	height: 100%;
}
hr{
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.5)
}
</style>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div id="content">
			<h1>Projects Dump Yard</h1>
			<h3>a project database management system</h3>
			<hr>
			<a class="btn btn-default btn-lg" href="/projects/">Projects</a>
		</div>
		</div>
	</div>
</div>

<!--///////////////////////////////////////////////////////////////////////-->



<!--<script>-->
<!--	var profile=document.getElementById("profile");-->
<!--	var valued=document.getElementById("valued");-->
<!--	var proSeg=document.getElementById("proSeg");-->
<!--	var valSeg=document.getElementById("valSeg");-->
<!--	var projSeg=document.getElementById("projSeg");-->
<!--	var projects=document.getElementById("projects");-->
<!--	profile.addEventListener("click",function(){-->
<!--		profile.classList.add("active");-->
<!--		valued.classList.remove("active");-->
<!--		projects.classList.remove("active");-->
<!--		valSeg.classList.add("hidden");-->
<!--		proSeg.classList.remove("hidden");-->
<!--		projSeg.classList.add("hidden")-->
<!--	})-->
<!--	valued.addEventListener("click",function(){-->
<!--		profile.classList.remove("active");-->
<!--		valued.classList.add("active");-->
<!--		projects.classList.remove("active");-->
<!--		valSeg.classList.remove("hidden");-->
<!--		proSeg.classList.add("hidden");-->
<!--		projSeg.classList.add("hidden")-->
<!--	})-->
<!--	projects.addEventListener("click",function(){-->
<!--		profile.classList.remove("active");-->
<!--		valued.classList.remove("active");-->
<!--		projects.classList.add("active");-->
<!--		valSeg.classList.add("hidden");-->
<!--		proSeg.classList.add("hidden");-->
<!--		projSeg.classList.remove("hidden")-->
<!--	})-->
<!--</script>-->




<!--//////////////////////////////////////////////////////////////////////////////////-->

<% include ./partials/footer %>
