<% include ./partials/header %>
  <!--<link rel="stylesheet" type="text/css" href="https://semantic-ui.com/dist/components/reset.css">-->
  <link rel="stylesheet" type="text/css" href="https://semantic-ui.com/dist/components/site.css">

  <link rel="stylesheet" type="text/css" href="https://semantic-ui.com/dist/components/container.css">
  <link rel="stylesheet" type="text/css" href="https://semantic-ui.com/dist/components/grid.css">
  <!--<link rel="stylesheet" type="text/css" href="https://semantic-ui.com/dist/components/header.css">-->
  <!--<link rel="stylesheet" type="text/css" href="https://semantic-ui.com/dist/components/image.css">-->
  <!--<link rel="stylesheet" type="text/css" href="https://semantic-ui.com/dist/components/menu.css">-->

  <!--<link rel="stylesheet" type="text/css" href="https://semantic-ui.com/dist/components/divider.css">-->
  <!--<link rel="stylesheet" type="text/css" href="https://semantic-ui.com/dist/components/segment.css">-->
  <link rel="stylesheet" type="text/css" href="https://semantic-ui.com/dist/components/form.css">
  <link rel="stylesheet" type="text/css" href="https://semantic-ui.com/dist/components/input.css">
  <link rel="stylesheet" type="text/css" href="https://semantic-ui.com/dist/components/button.css">
  <link rel="stylesheet" type="text/css" href="https://semantic-ui.com/dist/components/list.css">
  <link rel="stylesheet" type="text/css" href="https://semantic-ui.com/dist/components/message.css">
  <link rel="stylesheet" type="text/css" href="https://semantic-ui.com/dist/components/icon.css">
  
  <style type="text/css">
 /*   body {*/
 /*     background-color: #DADADA;*/
	/*background: url(https://images.unsplash.com/photo-1465433045946-ba6506ce5a59?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=aee41664ed00498d58f651ebceb860b2&auto=format&fit=crop&w=1050&q=80);*/
 /*   }*/
 	body{
			padding: 2px;
    	background: url(https://images.unsplash.com/photo-1465433045946-ba6506ce5a59?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=aee41664ed00498d58f651ebceb860b2&auto=format&fit=crop&w=1050&q=80);
    	background-size: cover;
    	background-position: center;
	}
    
    body > .grid {
      height: 100%;
    }
    .column {
      max-width: 450px;
    }
  </style>

<!--////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--<div style="padding:120px;">-->
<!--<div class="ui container">-->
<!--<div class="ui middle aligned center aligned grid">-->
<!--  <div class="ui massive form">-->
<!--    <form method='post' action="/" class="ui large form">-->
<!--      <div class="ui stacked segment">-->
<!--        <div class="field">-->
<!--          <div class="ui left icon input">-->
<!--            <i class="user icon"></i>-->
<!--             <input  name ="usn" type="text" placeholder="Username" required>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="field">-->
<!--          <div class="ui left icon input">-->
<!--            <i class="lock icon"></i>-->
<!--            <input name="password" type="password" placeholder="password" required>-->
<!--          </div>-->
<!--        </div>-->
<!--        <input type="submit" class="ui fluid large teal submit button" value="Login">-->
<!--      </div>-->

      <!--<div class="ui error message"></div>-->

<!--    </form>-->
<!--    <div>-->
<!--    <div class="middle aligned column">-->
      
      
<!--            <i class="signup icon"></i>-->
<!--            <div class="ui compact menu">-->
<!--              <div class="ui simple dropdown item">-->
<!--                <Strong>Signup</Strong>-->
<!--                <i class="dropdown icon"></i>-->
<!--                <div class="menu">-->
<!--                  <div class="item"><a href="/student/new">Student</a></div>-->
<!--                  <div class="item"><a href="/teacher/new">Professor</a></div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--///////////////////////////////////////////////////////////////////////////////////////////////////////-->
<div style="padding:60px;">
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <form method='post' action="/" class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input  name ="usn" type="text" placeholder="User ID" required>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input name="password" type="password" placeholder="password" required>
          </div>
        </div>
        <input type="submit" class="ui fluid large teal submit button" value="Login">
      </div>

     
    </form>
    
    <div class="field">
      <i class="signup icon"></i>
        <div class="ui compact menu">
          <div class="ui simple dropdown item">
            <Strong>Signup</Strong>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item"><a href="/student/new">Student</a></div>
                <div class="item"><a href="/teacher/new">Professor</a></div>
            </div>
          </div>
        </div>
    </div>
  

    <div class="ui message">
      <div class="header">Instructions</div>
        <ul class="list">
          <li>To login, students must use their usn and teachers must use their ID.</li>
          <li>Use lower case alphabets.</li></li>
        </ul>
      </div>
    </div>
  </div>
</div>

</div>




<% include ./partials/footer %>





