<% include ../partials/header %>

    <div class="container">
        <div class="row" style="text-align:center; ">
            <!--<h1 style="color:black;">New Professor details</h1>-->
                <div style="width:30%; margin: 25px auto;" >
                    <form method='post' action="/teacher/new">
                        <div class="form-group">
                            <input class="form-control" type="text" name="name" placeholder="Professor name" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="usn" pattern="1(RN|rn)[0-9][0-9][A-Za-z]{2}[0-9]{3}" minlength="10" maxlength="10" placeholder="Professor id" required>
                        </div>
                        <!--<div class="form-group">-->
                        <!--    <select name="gender" class="form-control" >-->
                        <!--            <option value="">Gender</option>-->
                        <!--            <option value="O" >other</option>-->
                        <!--            <option value="M" >Male</option>-->
                        <!--            <option value="F" >Female</option>-->
                        <!--    </select>-->
                        <!--</div>-->
                        <div class="form-group">
                            <select name="branch" class="form-control" >
                                <optgroup label="ug">
                                    <option value="cse">Branch-CSE</option>
                                    <option value="ise">Branch-ISE</option>
                                    <option value="ece">Branch-ECE</option>
                                    <option value="me">Branch-ME</option>
                                    <option value="eee">Branch-EEE</option>
                                </optgroup>
                            </select>
                        </div>
                         <div class="form-group">
                            <input class="form-control" type="text" name="email" pattern=".+@.+.com" placeholder="example@email.com">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="tel" name="phone" pattern="[0-9]{10}" placeholder="phone number">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="password" placeholder="Password" id="password" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" placeholder="Confirm Password" id="confirm_password" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
                        </div>
                        <div class="form-group">
                            <button type="reset" class="btn btn-lg btn-danger btn-block">Reset</button>
                        </div>
                    </form>
                </div>
        </div>
    </div>



<script>
    var password = document.getElementById("password"), 
        confirm_password = document.getElementById("confirm_password");

    function validatePassword(){
      if(password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
        confirm_password.setCustomValidity('');
      }
    }
    
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>


<% include ../partials/footer %>