<% include ../partials/header %>



<h1>student show page</h1>

<% if(student.usn == currentUser.id) { %>
<a class="btn btn-primary" href="/student/<%= currentUser.id %>/edit">Edit profile</a>


<a class="btn btn-primary" href="/projects/new">add Project</a></a>
<% } %>

<%= JSON.stringify(student) %>

<br>
<% projects.rows.forEach(function(row){ %>
    <li><%= JSON.stringify(row) %></li>
<% }) %>



<% include ../partials/footer %>